<!-- <select>
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select> -->

<select>
	{{#each model.users as |user|}}
		<option value={{user.id}}> {{user.name}} </option>
	{{/each}}
</select>

{{outlet}}